@import url('https://fonts.googleapis.com/css2?family=REM&family=Roboto:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'REM', sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2318FFAF'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='22.11'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='7.370000000000001' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='6.7'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='14.740000000000002' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  border-radius: 50px;
  width: 80px;
  height: auto;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background: linear-gradient(90deg, #22C1C3 0%, #0594aa 50%, #1b94b2 100%);

}

.expense-tracker,
.budget-tracker,
.budget-dash {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white background */
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the card */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Semi-transparent border */
  border-radius: 10px;
  /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.expense-tracker,
.budget-tracker {

}

.pic {
  border-radius: 20px;
}

.students {
  margin-bottom: 50px;
}

.pie-chart {
}

.expense-history {
}

.bills {
  border: 2px solid #DBD3D8;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.electricity {
 
  margin-bottom: 100px;
}

.water {

}

.goals-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping to the next row if necessary */
  gap: 10px;
  /* Adjust the gap between goals if needed */
}

.nav-item {
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link:hover {
  color: rgb(235, 235, 235)
    /* Change this to the desired hover color */
}

.icons {
  margin-right: 5px;
}

.logo_1 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  -webkit-animation: mover 0.9s infinite alternate;
  animation: mover 0.9s infinite alternate;

}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}



.logo {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.savegoal-form {

}

.save-goal {
  margin-bottom: 80px;

}

.submitted-goal {

}

.main-footer {
  margin-top: 50px;
  background-image: url('../src/images/wave\ \(1\).svg');
  background-size: cover;
  
}

.foot {
  list-style-type: none;
}

.foot {
 
}

.brands {
  display: flex;
  justify-content: center;

}

.tech-brands {
  margin-left: 20px;
}

.budget-dash {
  background-color: white;
}

.budget {
  border: 3px solid black;
}

.buttons {

}

.reset {
  margin-left: 20px;
}


.test {
  margin-top: 3rem;
  justify-content: center;
}

.reviewbody {
  width: 500px;
  box-shadow: 44px 32px 9px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center horizontally */
  justify-content: center;
  /* Center vertically */
  text-align: center;
  /* Center text */

  
}


.portrait {
  height: 200px;
  width: 200px;
  object-fit: cover;
  /* background-image: url('../src/images/wave\ \(1\).svg');
  background-size: cover; */
}


.form {
  height: 350px;
  width: 500px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;

}

a:hover {
  background-color: #ddd;
}

.previous {
  background-color: #f1f1f1;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.view {
  background-image: url('../src/images/blob.svg');
  background-size: cover;
  background-position: top left;
}

.login-form {
}

.graph {
  border-radius: 30px;
}

.student-graph {
  margin-top: 50px;
}

/* .header{
  border: 3px solid red;
  display:flex;
  justify-content: center;
} */

.box {
  display: flex;
  flex-direction: column;
}


.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.glass-background {
  backdrop-filter: blur(10px); 
}



